<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset class="grid grid-cols-1 gap-4">
    <div class="form-element">
      <label for="topic-title">Title</label>
      <input type="text" pInputText formControlName="title" />
    </div>
    <div class="form-element">
      <label for="topic-order">Orden</label>
      <p-inputNumber
        formControlName="order"
        mode="decimal"
        inputId="topic-order"
        [useGrouping]="false"
      />
    </div>
    <div class="form-element">
      <label for="upload">Cursos</label>
      <p-dropdown
        formControlName="course_id"
        [options]="courseService.courses()"
        optionLabel="name"
        optionValue="id"
        placeholder="Seleccionar"
        appendTo="body"
      />
    </div>
  </fieldset>
  <div class="flex justify-end mt-4">
    <p-button
      aria-label="submit button"
      type="submit"
      size="small"
      [label]="isEdit() ? 'Actualizar' : 'Registrar'"
      [loading]="topicService.isLoading()"
    />
  </div>
</form>
