<p-table
  [value]="lessonService.resources()"
  [paginator]="true"
  [rows]="5"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template pTemplate="caption">
    <p-fileUpload
      #fileUpload
      mode="basic"
      chooseLabel="Subir"
      name="myfile[]"
      [customUpload]="true"
      (onSelect)="saveDocuments($event)"
      accept="image/*"
      [maxFileSize]="10000000000"
    ></p-fileUpload>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Archivo</th>
      <th class="text-center">Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        <a
          [href]="'https://www.youtube.com/watch?v=' + item.youtube_code"
          target="_blank"
          rel="noopener noreferrer"
          class="text-[#2563eb] hover:border-b border-b-[#2563eb]"
          >Descargar Archivo</a
        >
      </td>
      <td>
        <div class="flex justify-center">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-text"
            (click)="op.toggle($event)"
          >
            <i class="fa-solid fa-gear"></i>
          </button>
          <p-overlayPanel styleClass="paralex-overlay" appendTo="body" #op>
            <ng-template pTemplate="content">
              <div class="flex flex-col">
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Eliminar"
                  class="p-button-danger p-button-text p-button-sm text-start"
                  (click)="delete(item.id)"
                ></button>
              </div>
            </ng-template>
          </p-overlayPanel>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
