<header class="sticky top-0 z-999 flex w-full bg-white drop-shadow-md">
  <div
    class="flex flex-grow items-center justify-end px-4 py-4 shadow-2 md:px-6 2xl:px-11"
  >
    <p-splitButton
      size="small"
      [label]="authService.currentLoggedUser().username | titlecase"
      icon="pi pi-check"
      [model]="items"
      appendTo="body"
    />
  </div>
</header>

<p-dialog header="Editar Perfil" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Actualiza tu información.</span>
  <app-admin-form [isEdit]="true" [selectedItem]="authService.currentLoggedUser()"></app-admin-form>
</p-dialog>
