<section
  class="bg-purple-400 px-4 pb-4 pt-2 "
>
<div class="md:flex md:flex-row-reverse md:gap-4 lg:items-center lg:max-w-[1024px] xl:max-w-[1280px] xl:px-0 lg:m-auto lg:p-16">
  <img
    class="max-w-[90%] md:max-w-[500px] h-auto rounded-md m-auto"
    src="images/banner.jpg"
    alt="banner"
  />
  <div class="mt-3 md:mt-0 md:flex md:flex-col md:justify-between">
    <h1 class="text-2xl font-semibold md:text-5xl lg:text-7xl md:max-w-[480px] lg:max-w-[650px]">
      Aprende más rápido con las mejores clases de idioma.
    </h1>
    <p-button
      styleClass="bg-black border-black w-full flex justify-center mt-3 md:mt-6 md:max-w-[320px]"
    >
      <div class="flex justify-center items-center gap-3">
        <span class="font-bold text-xl">Empezar</span>
        <i class="fa-solid fa-arrow-right text-xl"></i>
      </div>
    </p-button>
  </div>
</div>
</section>
