<div
  class="rounded-sm border border-light-gray bg-white px-5 py-6 shadow-sm drop-shadow-md sm:px-7 mb-5"
>
  <h1 class="text-3xl font-semibold mb-3">Cursos disponibles</h1>
  <p class="lg:max-w-[80%]">
    Búsca algún curso de idioma que quieras aprender, que en su nombre contengan
    palabras clave sobre tus intereses de estudio.
  </p>
  <br />
  <p-inputGroup>
    <input type="text" pInputText />
    <button type="button" pButton label="Búscar"></button>
  </p-inputGroup>
</div>

<div class="flex flex-wrap gap-4">
  @for (item of courseService.courses(); track $index) {
  <div
    class="flex items-center rounded-sm border border-light-gray bg-white p-4 shadow-sm drop-shadow-md sm:flex-row flex-col w-full max-w-[400px]"
  >
    <div
      class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center flex-shrink-0"
    >
      <img
        [src]="item.language_flag | getResourceFromBackend"
      />
    </div>
    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
      <h1 class="text-black text-2xl title-font font-bold mb-2">
        {{ item.title }}
      </h1>
      <p class="leading-relaxed text-base">
        {{ item.language_name }}
      </p>
      <div class="py-4 grid gap-4">
        <div class="inline-block mr-6">
          <div class="flex pr-2 h-full items-center gap-3">
            <span class="bg-blue-400 flex items-center justify-center w-8 h-8 rounded-full">
              <i class="fa-regular fa-clock text-white" ></i>
            </span>
            <p class="title-font font-medium">{{ item.time_duration }} horas</p>
          </div>
        </div>
        <div class="inline-block mr-2">
          <div class="flex pr-2 h-full items-center gap-3">
            <span class="bg-blue-400 flex items-center justify-center w-8 h-8 rounded-full">
              <i class="fa-solid fa-user-tie text-white"></i>
            </span>
            <p class="title-font font-medium">{{ item.teacher_name }}</p>
          </div>
        </div>
      </div>
      <a [routerLink]="['/public/cursos/', item.id]" class="mt-3 text-indigo-500 inline-flex items-center"
        >Empezar curso
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-2"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </div>
  }
</div>
