<head-card
  title="Listado de becas"
  buttonLabel="Registrar"
  [(isClicked)]="openCreate"
></head-card>
<div
  class="rounded-sm border border-light-gray bg-white px-5 pb-2.5 pt-6 shadow-sm drop-shadow-md sm:px-7 xl:pb-1"
>
  <p-table
    [value]="becaService.becas()"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Degree</th>
        <th>Fecha Inicio</th>
        <th>Duración en días</th>
        <th>Ciudad</th>
        <th>Universidad</th>
        <th class="text-center">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.degree | degree }}</td>
        <td>{{ item.begin | date:'dd/M/yyyy' }}</td>
        <td>{{ item.duration_per_days }}</td>
        <td>{{ item.city.name }}</td>
        <td>{{ item.collage.name }}</td>
        <td>
          <div class="flex justify-center">
            <button
              pButton
              pRipple
              type="button"
              class="p-button-text"
              (click)="op.toggle($event)"
            >
              <i class="fa-solid fa-gear"></i>
            </button>
            <p-overlayPanel styleClass="paralex-overlay" appendTo="body" #op>
              <ng-template pTemplate="content">
                <div class="flex flex-col">
                  <button
                    pButton
                    pRipple
                    type="button"
                    label="Editar"
                    class="p-button-text p-button-sm text-start"
                    (click)="editModal(item)"
                  ></button>

                  <button
                    pButton
                    pRipple
                    type="button"
                    label="Eliminar"
                    class="p-button-danger p-button-text p-button-sm text-start"
                    (click)="delete(item.id)"
                  ></button>
                </div>
              </ng-template>
            </p-overlayPanel>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Dialogs -->
<p-dialog
  header="Editar Beca"
  [(visible)]="openEdit"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
>
  <app-beca-form
    [selectedItem]="selectedItem"
    [isEdit]="true"
    (modalState)="openEdit = $event"
  ></app-beca-form>
</p-dialog>

<p-dialog
  header="Crear Beca"
  [(visible)]="openCreate"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
>
  <app-beca-form (modalState)="openCreate = $event"></app-beca-form>
</p-dialog>

<p-confirmDialog
  [style]="{ width: '500px' }"
  key="confirmDialog"
  position="top"
  rejectButtonStyleClass="p-button-outlined"
></p-confirmDialog>
