<section class="lg:max-w-[1024px] xl:max-w-[1280px] m-auto py-24">
  <div class="md:border md:border-black rounded-lg md:flex md:items-center bg-purple-400 ">
    <img class="block md:max-w-[500px] lg:max-w-[600px]" src="images/tutor.png" alt="tutor" />
    <div class="py-8 px-6 flex flex-col gap-4 lg:gap-8 lg:max-w-[500px] m-auto">
      <h1 class="font-semibold text-3xl lg:text-7xl">Convierteté en profesor</h1>
      <p>
        Gana dinero comaprtiendo tu experiencia y conocimeintos con los
        estudiantes. Registrate en BECADEMIA y empieza a dar clases online.
      </p>

      <ul class="list-disc pl-8 text-xl lg:text-3xl font-semibold">
        <li>Encuentra nuevos estudiantes</li>
        <li>Haz crecer tu empresa</li>
        <li>Obten pagos seguros</li>
      </ul>

      <p-button
        styleClass="bg-black border-black w-full flex justify-center mt-3 md:mt-6 md:max-w-[500px] m-auto"
      >
        <div class="flex justify-center items-center gap-3">
          <span class="font-bold text-xl">Hazte profesor</span>
          <i class="fa-solid fa-arrow-right text-xl"></i>
        </div>
      </p-button>
    </div>
  </div>
</section>
